# If you want scripts like `update_stockfish.sh` to run automatically 
# without prompting you for a password every time, you can define your 
# sudo password below then save
#
# SUDO_PASS="your_password_here"